packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/*.tfstate
terraform/*.tfstate.*.backup
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/terraform.tfvars
terraform/key.json
terraform/.terraform.lock.hcl
