terraform {
  required_providers {
    yandex = {
      source  = "yandex-cloud/yandex"
      version = "~>0.95"
    }
  }
  required_version = "~>1.5.1"

  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "mybacketap"
    region     = "ru-central1"
    key        = "stage/terraform.tfstate"

    skip_region_validation      = true
    skip_credentials_validation = true
  }

}
